* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 34.5px 0;
  background-color: #F5F5F5;
  width: 100%;
  color: #464646;
  font-family: "raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 152px;
  margin-bottom: 42px;
}
header .header-brand {
  display: flex;
  gap: 8px;
  align-items: center;
}
header .header-brand a {
  color: #464646;
}
header .header-brand h1 {
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
}
header .header-brand h1:hover {
  color: #2A7AE4;
  transition: 0.3s;
  cursor: pointer;
}
header .header-links {
  display: flex;
  gap: 32px;
}
header .header-links .bold {
  font-weight: 700;
  color: #464646;
  transition: 0.1s;
}
header .header-links .bold:hover {
  color: #2A7AE4;
  transition: 0.1s;
  border-bottom: 2px solid #2A7AE4;
}
header .header-links ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
header .header-links ul li {
  color: #464646;
  font-weight: 500;
  transition: 0.1s;
}
header .header-links ul li:hover {
  transition: 0.1s;
  color: #2A7AE4;
  border-bottom: 2px solid #2A7AE4;
}

.landing {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 32px;
}
.landing .landing-img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.landing .landing-main {
  width: 751px;
  height: 246px;
}
.landing .landing-main h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 24px;
}
.landing .landing-main p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}
.landing .landing-links ul {
  display: flex;
  gap: 32px;
}
.landing .landing-links ul a {
  color: #464646;
}
.landing .landing-links ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 4px;
  transition: 0.3s;
}
.landing .landing-links ul li:hover {
  color: #2A7AE4;
  cursor: pointer;
  transition: 0.1s;
}

.sobre-mim {
  background-color: #EAF2FD;
  padding: 64px 152px;
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.sobre-mim .sobre-mim-container {
  width: 1136px;
}
.sobre-mim .sobre-mim-container h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
}
.sobre-mim .sobre-mim-container p {
  margin-bottom: 1em;
  max-width: 751px;
}

.skills {
  padding: 44px 152px;
  width: 100%;
}

.skills-title, .hobbies-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.square-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.blue-square {
  font-weight: 700;
  width: 176px;
  height: 174px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 16px;
  gap: 8px;
}

.hobbies {
  margin-bottom: 32px;
  padding: 64px 152px;
  width: 100%;
}

.education {
  background-color: #EAF2FD;
  padding: 82px 152px;
  width: 100%;
  margin-bottom: 32px;
}
.education .education-title {
  text-align: center;
  margin-bottom: 32px;
}
.education .education-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.education .education-container img {
  width: 368px;
  height: 286px;
  margin-bottom: 8px;
}
.education .education-container h1 {
  margin-bottom: 8px;
}

.projects {
  padding: 0px 152px;
}
.projects .projects-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}
.projects .projects-container {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: center;
}
.projects .projects-box {
  width: 348px;
  height: 112px;
}
.projects .projects-box h1, .projects .projects-box p {
  margin-bottom: 8px;
}
.projects .projects-box h1 {
  font-size: 22;
  font-weight: bold;
}
.projects .projects-box p {
  font-weight: 500;
}
.projects .projects-box .btn-container {
  display: flex;
  gap: 16px;
}
.projects .projects-box .btn-container .repo-btn, .projects .projects-box .btn-container .demo-btn {
  padding: 1em;
  border: 1px solid #2A7AE4;
  background-color: #F5F5F5;
  color: #2A7AE4;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  transition: 0.2s;
  cursor: pointer;
}
.projects .projects-box .btn-container .repo-btn:hover, .projects .projects-box .btn-container .demo-btn:hover {
  transform: scale(1.1);
}
.projects .projects-box .btn-container .demo-btn {
  background: #2A7AE4;
  color: #fff;
  border: none;
}

.projects-container-reverse {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: center;
  flex-direction: row-reverse;
}

.contact {
  display: flex;
  gap: 16px;
  justify-content: center;
  background-color: #EAF2FD;
  padding: 82px 152px;
  width: 100%;
}
.contact .contact-img img {
  width: 464px;
  height: 593px;
}
.contact .contact-container h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}
.contact .contact-container p {
  font-weight: 500;
  margin-bottom: 32px;
}
.contact form {
  display: flex;
  flex-direction: column;
  max-width: 656px;
}
.contact form input {
  margin-bottom: 32px;
  height: 56px;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #A2A2A2;
  padding-left: 12px;
}
.contact form input::-moz-placeholder {
  color: #A2A2A2;
  font-family: "raleway", sans-serif;
}
.contact form input::placeholder {
  color: #A2A2A2;
  font-family: "raleway", sans-serif;
}
.contact form input:focus {
  outline: none;
  border-bottom: 3px solid #2A7AE4;
}
.contact form textarea {
  margin-bottom: 32px;
  resize: none;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #A2A2A2;
  font-size: 1.2;
  font-family: "raleway", sans-serif;
  padding: 12px;
}
.contact form textarea::-moz-placeholder {
  font-family: "raleway", sans-serif;
  color: #A2A2A2;
}
.contact form textarea::placeholder {
  font-family: "raleway", sans-serif;
  color: #A2A2A2;
}
.contact form textarea:focus {
  outline: none;
  border-bottom: 3px solid #2A7AE4;
}
.contact form .btn-form {
  padding: 1em;
  background-color: #F5F5F5;
  color: #2A7AE4;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  background: #2A7AE4;
  color: #fff;
  width: 165px;
  height: 51px;
  border: none;
  transition: 0.3s;
}
.contact form .btn-form:hover {
  cursor: pointer;
  background: #2165bd;
  transition: 0.3s;
}

footer {
  text-align: center;
  margin-top: 20px;
}
footer a {
  color: #2A7AE4;
}
footer a:hover {
  text-decoration: underline;
}

.active {
  display: none;
}

@media (max-width: 1440px) {
  header {
    margin: auto auto;
    margin-bottom: 32px;
  }
  .landing {
    width: 90%;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 32px;
  }
  .landing .landing-main {
    width: 60%;
    height: auto;
  }
  .landing .landing-main h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .landing .landing-main p {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .landing .landing-links ul {
    display: flex;
    gap: 32px;
  }
  .landing .landing-links ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 4px;
    transition: 0.3s;
  }
  .landing .landing-links ul li:hover {
    color: #2A7AE4;
    cursor: pointer;
    transition: 0.1s;
  }
  .sobre-mim-container {
    width: 20%;
  }
  .sobre-mim-container h1 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 16px;
  }
  .sobre-mim-container p {
    font-size: 14px;
    margin-bottom: 1em;
    max-width: 751px;
  }
}
@media (max-width: 1180px) {
  header {
    margin: auto auto;
    margin-bottom: 32px;
  }
  .header-links ul li {
    display: none;
  }
  .landing {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 32px;
    padding: 0 60px;
  }
  .landing .landing-img {
    width: 150px;
    height: 150px;
  }
  .landing .landing-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landing .landing-main h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
  }
  .landing .landing-main p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: center;
  }
  .landing .landing-main ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .landing .landing-main ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    gap: 4px;
    transition: 0.3s;
  }
  .landing .landing-main ul li:hover {
    color: #2A7AE4;
    cursor: pointer;
    transition: 0.1s;
  }
  .square-container {
    flex-wrap: wrap;
  }
  .square-container .blue-square {
    width: 224px;
    height: 118px;
  }
  .education-container {
    flex-wrap: wrap;
    text-align: center;
  }
  .contact-img img {
    display: none;
  }
  .projects-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .projects-container-reverse {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .projects-img img {
    width: 350px;
  }
}
@media (max-width: 780px) {
  header {
    flex-direction: column;
  }
  .landing {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 32px;
    padding: 0 60px;
  }
  .landing .landing-img {
    width: 150px;
    height: 150px;
  }
  .landing .landing-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landing .landing-main h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
  }
  .landing .landing-main p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: center;
  }
  .landing .landing-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }
  .landing .landing-links ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    gap: 4px;
    transition: 0.3s;
  }
  .landing .landing-links ul li:hover {
    color: #2A7AE4;
    cursor: pointer;
    transition: 0.1s;
  }
  .sobre-mim {
    padding: 10px;
  }
  .sobre-mim .sobre-mim-container {
    padding: 50px;
  }
  .bold {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */